<section>
    <div class="promotion">
        <label for="promo-code">Have A Promo Code?</label>
        <input type="text" id="promo-code" /> <button type="button"></button>
    </div>

    <div class="summary">
        <ul>
            <li>Subtotal <span>${{subTotal}}</span></li>
            <li>Tax <span>${{tax}}</span></li>
            <li>Discount <span>{{discount}}%</span></li>

            <li class="total">Total <span>${{total}}</span></li>
        </ul>
    </div>

    <div class="checkout">
        <button type="button">Check Out</button>
    </div>
</section>