<main>
  <nav style="text-align: center;">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home
          Component</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About
          Component</a></li>
      <li><a routerLink="/reactiveForms" routerLinkActive="active" ariaCurrentWhenActive="page">Reactive
          Form Component</a></li>
      <li><a routerLink="/getData" routerLinkActive="active" ariaCurrentWhenActive="page">Get Data
          Component</a></li>
    </ul>
  </nav>

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</main>